* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Shrikhand";
  overflow-x: hidden;
  border: 5px solid maroon;
  background: #f0fbf8;
}

header {
  height: 60px;
  margin-top: 0px;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2px;
  font-family: "Shrikhand";
  font-size: 32px;
  display: flex;
  background-color: whitesmoke;
}

/*  remove dots from the  ul */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 400;
  height: -moz-fit-content;
  height: fit-content;
}

.logo {
  align-items: center;
  margin-left: 370px;
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
}

.mobilelogo {
  display: none;
}

/*  back buttom  */
.homebutton {
  margin-left: 20px;
  cursor: pointer;
  background-color: rgb(239, 239, 244);
  font-size: 25px;
  border: none;
}

/* CardEffect */
.Acard {
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.583);
  cursor: pointer;
  animation: card-slide-up 2s ease-in-out forwards;
  transition: 0.3s;
}

.Acard:hover {
  transform: scale(0.98);
  box-shadow: 0px 0px 5px 0px rgba(162, 162, 162, 0.7019607843);
}

.Acard:hover > .CardEffect {
  display: flex;
  margin-right: 0px;
}

.Acard:hover > .CardEffect i {
  animation: spin 0.5s ease-in-out;
}

.Acard.accomm-text {
  white-space: nowrap;
  flex-grow: 1;
  padding: 15px;
  overflow: hidden;
  height: 10vh;
  margin-left: 10px;
}

.Acard.accomm-text h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.Acard.accomm-text h5 {
  text-overflow: ellipsis;
}

/*  .Acard.price {
    display: flex;

    }*/
.CardEffect {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: 0.5s ease;
  -moz-column-gap: 20px;
       column-gap: 20px;
  animation-delay: 0ms;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 5px blue;
  overflow: hidden;
  transition: 0.3s;
}

@keyframes card-slide-up {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.Mtitle {
  width: 360px;
  height: 122px;
}

.Mcard {
  display: flex;
  flex-direction: column;
  margin-top: -3px;
  border: 10px solid red;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.583);
  transition: 0.3s;
}

/* Image  */
.accommthumb {
  width: -moz-max-content;
  width: max-content;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 1060px;
  height: 300px;
}

.heart {
  margin-left: 1030px;
  margin-top: -155px;
}

/* Main Section */
.Main {
  display: flex;
}

#ENTREES {
  display: flex;
  background-color: #f1f8f0;
  margin-top: 0px;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  row-gap: 30px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 33%;
  border-radius: 12px;
  border: 3px solid rgb(222, 222, 233);
}

#DESSERTS {
  display: flex;
  background-color: #f1f8f0;
  margin-top: 0px;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  row-gap: 30px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 33%;
  border-radius: 12px;
  border: 3px solid rgb(222, 222, 233);
}

/*    Main Dish section  */
#Mdish {
  display: flex;
  background-color: #f1f8f0;
  margin-top: 0px;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  row-gap: 30px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 33%;
  border-radius: 12px;
  border: 3px solid rgb(222, 222, 233);
}

.accomm-headings {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.Acard {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(235, 237, 242);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.583);
  transition: 0.3s;
}

.Acard:hover {
  box-shadow: 0 0 10px rgb(51, 51, 51);
  transform: scale(1.02);
}

.accomm-text {
  height: 12vh;
  margin: left 10px;
  text-shadow: #c00e26;
}

.Pcard {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgb(53, 230, 76);
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.583);
  transition: 0.2s;
}

.Pcard:hover {
  box-shadow: 0 0 10px rgb(51, 51, 51);
  transform: scale(1);
}

.Acard-title {
  font-weight: bold;
}

.price {
  margin-left: 15px;
  margin-top: 1px;
  justify-items: flex-end;
}

h5 {
  width: 250px;
  align-self: flex-end;
}

/* Order button */
.Bcard {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: whitesmoke;
  height: 50px;
  cursor: pointer;
  margin-left: 450px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f593d9;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  box-shadow: 0 0 10px rgba(245, 230, 230, 0.583);
  transition: 0.3s;
}

.Bcard:hover {
  box-shadow: 0 0 10px rgb(51, 51, 51);
  transform: scale(1.02);
}

/* Footer section */
.footer {
  display: flex;
  background-color: #5e5c5c;
  height: -moz-fit-content;
  height: fit-content;
  color: whitesmoke;
  padding: 45px 50px 50px 50px;
  gap: 10px;
}

.footer h1 {
  color: whitesmoke;
  padding-top: 5px;
  margin-top: -15px;
  padding-bottom: 20px;
}

.footer li {
  color: whitesmoke;
}

.footer a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 400;
  height: -moz-fit-content;
  height: fit-content;
}

/* -----------                         ----------- */
/* ----------- desktop ----------- */
@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
  .double-column {
    flex: 2;
  }
}
/*                                              */
/* Mobile Iphone 8 */
@media screen and (min-width: 375px) and (max-width: 667px) {
  header {
    height: 60px;
    margin-top: 0px;
    padding-bottom: 2px;
    align-content: space-between 10px;
    display: flex;
    background-color: white;
  }
  header a:hover {
    border-top: none;
    padding-bottom: 0px;
    color: #0065fc;
    width: 100%;
  }
  .logo {
    display: none;
  }
  .mobilelogo {
    display: flex;
    background-color: white;
    width: 175px;
    height: auto;
    margin-left: 60px;
    margin-bottom: 0px;
  }
  /*  back buttom  */
  .homebutton {
    margin-left: 15px;
    cursor: pointer;
    align-self: center;
    font-size: 25px;
    background-color: white;
    border: none;
  }
  .Mtitle {
    width: 360px;
    height: 62px;
  }
  .Mcard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65px;
    margin-top: -3px;
    background-color: #f5f7f5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.583);
    transition: 0.3s;
  }
  .Bcard {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 50px;
    margin-top: 0px;
    margin-right: 50px;
    margin-left: 70px;
    margin-bottom: 30px;
    background-color: rgb(241, 147, 234);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.583);
    transition: 0.3s;
  }
  .Bcard:hover {
    box-shadow: 0 0 10px rgb(51, 51, 51);
    transform: scale(1.02);
  }
  /* Main Section */
  .CardEffect {
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    -moz-column-gap: 20px;
         column-gap: 20px;
    animation-delay: 0ms;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 5px blue;
    overflow: hidden;
    transition: 0.3s;
  }
  .accomm-headings {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  #ENTREES {
    display: flex;
    width: 100%;
    margin-top: 10px;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f5f7f5;
    padding: 10px;
    row-gap: 30px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  #DESSERTS {
    display: flex;
    width: 100%;
    margin-top: 10px;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f5f7f5;
    padding: 10px;
    row-gap: 30px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .Acard {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin-left: 2px;
    height: 65px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.583);
    transition: 0.3s;
  }
  .Acard:hover {
    box-shadow: 0 0 10px rgb(51, 51, 51);
    transform: scale(1.02);
  }
  .accomm-text {
    height: 10vh;
    margin-left: 10px;
  }
  .Acard:hover > .tick-button {
    display: flex;
    margin-right: 0px;
  }
  .Acard:hover > .tick-button i {
    animation: spin 0.5s ease-in-out;
  }
  .tick-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #99E2D0;  */
    background-color: #0c08e9;
    color: rgb(59, 236, 4);
    font-size: 25px;
    width: 60px;
    margin-right: -60;
    transition: 0.5s ease;
  }
  .heart {
    margin-left: 290px;
    margin-top: -65px;
  }
  .price {
    margin-left: 270px;
    margin-top: -55px;
  }
  /*    Main Dish section  */
  #Mdish {
    display: flex;
    width: 100%;
    margin-top: 10px;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f5f7f5;
    padding: 10px;
    row-gap: 30px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .accommthumb {
    width: 100%;
  }
  /* order button 
  .order{
    height: 40px;
    margin-left: 42px;
    width:120px;
    margin-top: 9px;
    padding-left: 0px;
    font-size: 90%;

    white-space: nowrap; }    */
  /* Order button */
  .Bcard {
    display: flex;
    flex-direction: column;
    width: 200px;
    color: whitesmoke;
    height: 50px;
    cursor: pointer;
    margin-left: 79px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f593d9;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 0 10px rgba(245, 230, 230, 0.583);
    transition: 0.3s;
  }
  .Bcard:hover {
    box-shadow: 0 0 10px rgb(51, 51, 51);
    transform: scale(1.02);
  }
  .footer {
    display: flex;
    background-color: #5e5c5c;
    height: -moz-fit-content;
    height: fit-content;
    color: whitesmoke;
    padding: 45px 50px 50px 50px;
    gap: 10px;
  }
  .footer h3 {
    color: whitesmoke;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .footer li {
    color: whitesmoke;
  }
  .footer a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;
    height: -moz-fit-content;
    height: fit-content;
  }
  /*/////////////////////////////////////////////////
  /*    Tablet                   */ /* 
@media screen and (min-width: 768px) and (max-width: 991px) {

   .main {
       flex-direction: row;
       width: auto;background-color: #0065FC;
   }

   #Restaurants{
       flex-direction: column;
       width: 50%;
   }

   .popular {
       width: 50%;
       height: fit-content;
       justify-content: start;
   }

   .accommthumb {
       width: 100%;
   }

   .activities-container {
       justify-content: space-around;
       padding-left: 0px;
   }
}}    */
  /* /////////////////////////////////////////////////
  /*                                                 
  // TABLET

  @media screen and (min-width: 768px) and (max-width: 991px) { }


  // DESKTOP

  @media screen and (min-width: 992px) { }  */
}/*# sourceMappingURL=Palettew.css.map */