$colour-primary: #f0fbf8;
$colour-secondary: blue;
$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-invalid: #DB464B;
$border: 10px solid red;
$width: 150px;
$font-weight :(
    "regular": 400,
    "medium":500,
    "bold":700,
    "bolder": 1500,
    )

    
