@import "./reset.scss";
@import "./variables.scss";

          html {         
            scroll-behavior: smooth;
                 }

          body {
           
            overflow-x: hidden;
            background: whitesmoke;
            font-family: Roboto, sans-serif;
                      }

           h2 {
              font-family: 'Roboto';
                 }

           h3 {
               font-family: 'Roboto';
                  }

           header      {
 
            height: 60px;
            margin-top: 0px;
            flex-direction: column;
            
            padding-bottom: 2px;
            display: flex;
            background-color:whitesmoke;     
               
          
                               }

/*  remove dots from the  ul */
            ul {
               list-style: none; }

            a {
               text-decoration: none;
               color: rgb(0, 0, 0);
               font-weight: 400;
               height: fit-content;}

           .logo {
            align-content: center;
            align-self: center;
            margin-top: -35px;
           // margin-left: 370px;
            width: 200px;
           
            height: fit-content;}
 
           .mobilelogo {
               display: none; }
/* Mouse */
            .pointer {cursor: pointer;}
            
/*  back buttom  */
             .homebutton      {
              width:fit-content; 
              margin-left: 20px;
              margin-top: 15px;
              cursor: pointer;  
            // background-color:rgb(239, 239, 244);
              background-color:whitesmoke;
              font-size: 25px;
              border: none;   }         
                                         

          /* Image  */     
             .accommthumb {
            
                 display: flex;
                 flex-direction: column;
                 border-top-right-radius: 15px;
                 border-top-left-radius: 15px;
                // width: 1105px;
                 width: 100%;
                 height: 300px;
                           }  
             .fa-stack{
                // margin-left: 1040px;
                 display:flex;
                 margin-left: 96%;  
                 margin-top: -55px;
                 width: 30px;
                 font-size: 30px;  }
            
             .full-heart {
               opacity: 0;
               background: linear-gradient(#9356DC, #FF79DA 75%);
               -webkit-background-clip: text;
               background-clip: text;
               font-size: 30px;
               -webkit-text-fill-color: transparent;
               transition: 0.3s;
                       }
             .full-heart:hover {
                opacity: 100%;
                cursor: pointer;
                             }     

    /* Menu title  */

            .Mtitle { 
               display: flex;
               width: 100%;
               height:92px;
               background:whitesmoke;  
               border-radius: 10px;
               padding: 10px;
               flex-direction: column;
               
                   
               font-family: Shrikhand, sans-serif;

            
               justify-content: space-between;
               
                        }  
              .Mtitle h2{
                font-family: Shrikhand, sans-serif;
              }
             
             .Mcard {
               display: flex;
               width:fit-content;
               margin-top: -3px;
               border-top-left-radius: 20px;
               border-top-right-radius: 20px;
               box-shadow: 0 0 10px rgba(150, 150, 150, 0.583);
               transition: 0.3s; 
        
              
                          }   
              
/* Main Section */

             .Main  {
              padding: 5px;
              background-color: #f7f7f7;
              border-top-right-radius: 40px;
              border-top-left-radius: 40px;
              display: flex;
              //justify-content: space-between;
                           }
/* Entrees section  */   
             #ENTREES {     
               
               background-color: #f7f7f7;
               margin-top: 0px;            
               row-gap: 10px;
               width: 32%;
               border-radius: 12px;  
        
                       }
             #ENTREES h2{
               margin-left: 5px;
               margin-top: 5px;
              // font-weight: 400;
                            }        
/* Desserts section  */                  
             #DESSERTS  {
              
                background-color: #f7f7f7;
                margin-top: 0px;             
                width: 32%;
                border-radius: 12px;       
    
                       }       
             #DESSERTS h2{
              margin-left: 5px;
              margin-top: 5px;
              font-weight: 400;
                       }

/* Dish section  */      
            #Mdish {
                
                 background-color: #f7f7f7;
                 margin-top: 0px;               
                 width: 32%;
                 border-radius: 12px;  
                    }
             #Mdish h2 {
              margin-left: 5px;
              margin-top: 5px;
              font-weight: 400;
                       }
            .accomm-headings {
                width: 100%;
                height: fit-content;}
  
            .Pcard:hover {
               box-shadow: 0 0 10px rgb(51, 51, 51);
               transform: scale(1.00); }
   
           .Acard .price  {
              margin-left: auto;
              
               margin-right: 0px;
              
               display: flex;
               padding: 2px;
               
                     }
           .Acard .price  h3 {
             margin-bottom: 35px;
             align-self: flex-end; }
 
/* CardEffect */

            .Acard {

                display: flex;
                border-radius: 12px;
                box-shadow: 0 0px 10px 0 rgba(197, 197, 197, 0.7019607843);
                overflow: hidden;
                transition: 0.3s;
                 margin: 20px 0px;
                 height: 70px;
                 row-gap: 10px;
                 background-color: #f7f7f7;
                cursor: pointer;
                animation: card-Delay 4s ease-in-out forwards;
                       }
            .Acard:hover {
               transform: scale(0.98);
               box-shadow: 0px 0px 5px 0px rgba(162, 162, 162, 0.7019607843);
                             }
            .Acard:hover > .CardEffect {
                display: flex;
                margin-right: 0px;
                                           }                 
            .Acard:hover > .CardEffect i {
                   animation: Tickspin 0.5s ease-in-out;}
        
                   

@keyframes Tickspin {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
                       }                   
              .Acard.accomm-text{
                   white-space: nowrap;
                   flex-grow: 1;
                   padding: 10px;
                   overflow: hidden;
                
                      }  
              .accomm-text h3,h4  {
                   text-overflow: ellipsis;
                   overflow: hidden;
                   margin-left: 5px;
                 //  margin-top: 3px; 
                  }
              .accomm-text h5     {
                   overflow: hidden;
                   text-overflow: ellipsis;
                   margin-left: 5px;
                   font-weight: normal;
                   font-size: 15px;     } 
             
              .CardEffect {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #2ee0cf;
                  color: white;
                  font-size: 25px;
                  width: 60px;
                  margin-right: -60px;
                  transition: 0.5s ease; 
                 
                             }

@keyframes card-Delay {
0% {
opacity: 0;
margin-top: -20px;
}
50% {
opacity: 0.5;
visibility: visible;
}
100% {
opacity: 1;
visibility: visible;
}                      }


/* Order button */
              .Bcard {
                 display: flex;
                 flex-direction: column;
                 width:200px;
                 color:whitesmoke;
                 background: whitesmoke;
                 height: 50px;
                 cursor: pointer;
                 margin-left: 43%;
                // justify-content: center;
                 margin-top: 30px;
                 margin-bottom: 30px;
                 background-color:#f593d9 ;
                
                 text-align: center;
                 border-radius: 20px;
                 padding-top: 14px;
                 box-shadow: 0 0 10px rgba(245, 230, 230, 0.583);
                 transition: 0.3s; }




               .Bcard:hover {
                box-shadow: 0 0 10px rgb(51, 51, 51);
                transform: scale(1.02);}

/* Footer section */

                .footer {
                   display: flex;
                   background-color: #5e5c5c;
                   height: fit-content;
                   color:whitesmoke;
            
                   padding: 25px 20px 20px 20px;
                   gap:20px;
                      }
                .footer h2 {
                  font-family: Shrikhand, sans-serif;
                  margin-bottom: 20px;
                }  
                .footer li  {
                     color:whitesmoke;
                         }
                 
                .footer a {
                  text-decoration: none;
                  color:whitesmoke;
                  font-weight: 400;
                  height: fit-content;}

            
 
                          /*                                              */

/* Mobile Iphone 8 */

@media screen  and (min-width: 375px) 
               and (max-width: 667px) {



             header {
              flex-direction: row;
              height: 60px;
              margin-top: 0px;
              padding-bottom: 2px;
              align-content: space-between ;
              display:flex;
              background-color:whitesmoke;    
              

                                   }  
             body  {
               background: whitesmoke;
               font-family: 'Shrikhand';
                  }
             header a:hover {
                border-top: none;      
                padding-bottom: 0px;
                color: #0065fc;
                width: 100%;  }        
 
             .logo {
                 display: none;  }
   
             .mobilelogo {
              display:block;
              width:100px;
              height:40px;
              margin-left: 90px;
              align-self: center;
              margin-bottom: 0px; 
              background-color:whitesmoke;
              margin-bottom: 0px;   }
        
/*  back buttom  */
             .homebutton  {
              margin-left: 15px;
              margin-top:4px;
              cursor: pointer;
              align-self: center;
              font-size: 25px;
              border: none;   }                  

 /* Menu title   */ 
             .Mtitle { 
               width: 370px;
               height: 62px;  
               background: whitesmoke;
              }  
             .accomm-text h1 {
                font-family: 'Shrikhand';
             }
               
             .fa-stack{
                margin-left: 320px;
              // margin-left: 96%;  
                margin-top: -60px;
                width: 30px;
                font-size: 30px;  }
              
             .full-heart {
                 opacity: 0;
                 background: linear-gradient(#9356DC, #FF79DA 75%);
                 -webkit-background-clip: text;
                 background-clip: text;
                 font-size: 30px;
                 -webkit-text-fill-color: transparent;
                 transition: 0.3s;
                         }
             .full-heart:hover {
                  opacity: 100%;
                  cursor: pointer;
                               }                

             .Mcard {
              display: flex;
              flex-direction: column;
              width:100%;
              height: 65px;
              margin-top: -3px;
              background-color: #f5f7f5;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
              box-shadow: 0 0 10px rgba(150, 150, 150, 0.583);
              transition: 0.3s; }                    

/* Main Section */

             .Main {
              display: flex;
              background-color: #f7f7f7;              
              flex-direction: column;
              row-gap: 10px;
              column-gap: 10px;
                   }

             .accomm-headings {
                width: 100%;
                font-weight: normal;
                height: fit-content;}

              
                #ENTREES           {
  
                width: auto;
                margin-top: 10px;
                flex-wrap: wrap;
                justify-content:space-around;              
                background-color: #f7f7f7;
                padding: 2px;
                padding-right: 2px;
                row-gap:10px;
                margin-right: 5px;
                margin-left: 5px;
                                     }


              #ENTREES h2{
                margin-left: 6px;
                                  }

              #DESSERTS{
            
              
                width: auto;
                margin-top: 10px;
                flex-wrap: wrap;
                justify-content:space-around;              
                background-color: #f7f7f7;
                padding: 2px;
                padding-right: 2px;
                row-gap:10px;
                margin-right: 5px;
                margin-left: 5px;
           //   column-gap: 10px;
                          }
              #DESSERTS h2{
                margin-left: 6px;
              }

/* CardEffect */

            .Acard{
  
              display: flex;
              width: 100%; 
              border-radius: 10px;
              box-shadow: 0 0px 10px 0 rgba(197, 197, 197, 0.7019607843);
              overflow: hidden;
              transition: 0.3s; 
              margin-left: 0px; 
             justify-content: space-around;
             background-color: #f7f7f7;
              cursor: pointer;
              animation: card-Delay 4s ease-in-out forwards;
          
                    }


/*    Main Dish section  */      
            #Mdish{
                
              width: auto;
              margin-top: 10px;
              flex-wrap: wrap;
              justify-content:space-around;              
              background-color: #f7f7f7;
              padding: 2px;
              padding-right: 2px;
              row-gap:10px;
              margin-right: 5px;
              margin-left: 5px;
             
              }
            #Mdish h2{
                margin-left: 6px; }
        
           .accommthumb {
            width: 100%;  }

/* Order button */
           .Bcard {
              display: flex;
             flex-direction: column;
             width:200px;
             color:whitesmoke;
             height: 50px;
             cursor: pointer;
             margin-left: 24%;
           // justify-content:center ;
             margin-top: 30px;
             margin-bottom: 30px;
             background-color:#f593d9 ;
             text-align: center;
             border-radius: 20px;
             padding-top: 14px;   
             box-shadow: 0 0 10px rgba(245, 230, 230, 0.583);
             transition: 0.3s; }

           .Bcard:hover {
              box-shadow: 0 0 10px rgb(51, 51, 51);
              transform: scale(1.02);}

/* Footer section */

.footer {
  display: flex;
  background-color: #5e5c5c;
  height: fit-content;
  color:whitesmoke;

  padding: 25px 20px 20px 20px;
  gap:20px;
     }
.footer h2 {
 font-family: Shrikhand, sans-serif;
 margin-bottom: 20px;
}  
.footer li  {
    color:whitesmoke;
        }

.footer a {
 text-decoration: none;
 color:whitesmoke;
 font-weight: 400;
 height: fit-content;}

            }   

            


/*////////////////////////////////////////////////  */
/*             desktop                   */  
@media screen and (min-width: 992px)  {
 
      /* Menu title  */
               .Mtitle { 
           
               width: 100%;
               height:92px;
               background: whitesmoke;
               border-radius: 10px;
               padding: 10px;
               flex-direction: column;
               justify-content:space-around;
                          }  
               
               .Mcard {
          display: flex;
          
          width:fit-content;
          margin-top: -3px;
          border: 3px solid red;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          box-shadow: 0 0 10px rgba(150, 150, 150, 0.583);
          transition: 0.3s; }        
  
  /* Main Section */
  
               .Main  {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;

                             }
 
               #ENTREES h2{
                 margin-left: 25px;
                
                              }        
  /* Desserts section  */                  
                    
               #DESSERTS h2{
                margin-left: 25px;
                         }
  
  /* Dish section  */      
           
               #Mdish h2 {
                margin-left: 25px;
                         }
              .accomm-headings {
                  width: 100%;
                  height: fit-content;}
  
              .Pcard {
                 display: flex;
                 width: 100%;
                 height: 50px;
                 background-color: rgb(53, 230, 76);
                 border-radius: 20px;
                 padding: 5px;
                box-shadow: 0 0 10px rgba(150, 150, 150, 0.583);
                transition: 0.2s; }
  
              .Pcard:hover {
                 box-shadow: 0 0 10px rgb(51, 51, 51);
                 transform: scale(1.00); }
  

  
                 .Bcard:hover {
                  box-shadow: 0 0 10px rgb(51, 51, 51);
                  transform: scale(1.02);}
        
       }

       
       /*             Tablet                */  
       
@media screen and (min-width: 768px) and (max-width: 991px) {
  
    /* Menu title  */

    .Mtitle { 
      display: flex;
      width: 100%;
      height:92px;
      background:whitesmoke;  
      border-radius: 10px;
      padding: 10px;
      flex-direction: column;
      justify-content:space-around;
          
      font-family: Shrikhand, sans-serif;


               }  
    
    .Mcard {
      display: flex;
      width:fit-content;
      margin-top: -3px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 0 0 10px rgba(150, 150, 150, 0.583);
      transition: 0.3s; }        

/* Main Section */

           .Main  {

              display: flex;
              flex-flow: row wrap;
              justify-content: space-around;
              background-color:whitesmoke;
              justify-content: space-between;
              padding: 10px;


                         }
/* Entrees section  */   
           #ENTREES {     
           
           background-color:whitesmoke;
           margin-top: 0px;
       
           width: 48%;
           border-radius: 12px;  
      
                     }
           #ENTREES h2{
             margin-left: 25px;
            
                          }        
/* Desserts section  */                  
           #DESSERTS  {
             
              background-color:whitesmoke;
            margin-top: 20px;
            
             width: 48%;
             border-radius: 12px;    
  
                     }       
           #DESSERTS h2{
            margin-left: 25px;
                     }

/* Dish section  */      
          #Mdish {
            
             background-color:whitesmoke;
             margin-top: 0px;
            
             width: 48%;
             border-radius: 12px;  
                  }
           #Mdish h2 {
            margin-left: 25px;
                     }
          .accomm-headings {
              width: 100%;
              height: fit-content;}


/* Order button */
           .Bcard {
               //display: flex;
             //  flex-direction: column;
               width:200px;
               color:whitesmoke;
               background: whitesmoke;
               height: 50px;
               cursor: pointer;
              margin-left: 36%;
              // justify-content: center;
               margin-top: 30px;
               margin-bottom: 30px;
               background-color:#f593d9 ;
               text-align: center;
               border-radius: 20px;
               padding-top: 10px;
               box-shadow: 0 0 10px rgba(245, 230, 230, 0.583);
               transition: 0.3s; }

             .Bcard:hover {
              box-shadow: 0 0 10px rgb(51, 51, 51);
              transform: scale(1.02);}
 }